@* @page
@model FribergsCarRental.Pages.Bookings.BookingIndexModel

@{
    ViewData["Title"] = "BookingIndex";
}

<h1>Bokningar</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].TheUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bookings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TheUser.FirstName)
                    @Html.DisplayFor(modelItem => item.TheUser.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.Brand)
                    @Html.DisplayFor(modelItem => item.Car.Model)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@item.BookingId" onsubmit="return confirm('Är du säker på att du vill ta bort bokningen?');">
                        <button type="submit" value="Delete" class="btn btn-danger">Ta bort</button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


 *@

@page
@model FribergsCarRental.Pages.Bookings.BookingIndexModel

@{
    ViewData["Title"] = "BookingIndex";
}

<h3>Är du säker på att du vill radera bokningen?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.TheUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.TheUser.FirstName)
            @Html.DisplayFor(model => model.Booking.TheUser.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Car)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Car.Brand)
            @Html.DisplayFor(model => model.Booking.Car.Model)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.EndDate)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Booking.BookingId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
