@page
@model FribergsCarRental.Pages.Bookings.BookingIndexModel

@{
    ViewData["Title"] = "BookingIndex";
}

<h1>Bokningar</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].TheUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bookings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TheUser.FirstName)
                    @Html.DisplayFor(modelItem => item.TheUser.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.Brand)
                    @Html.DisplayFor(modelItem => item.Car.Model)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@item.BookingId" onsubmit="return confirm('Är du säker på att du vill ta bort bokningen?');">
                        <button type="submit">Ta bort</button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}




