@page
@model FribergsCarRental.Pages.Bookings.CustomersBookingIndexModel

@{
    ViewData["Title"] = "CustomersBookingIndex";
}

<h1>CustomersBookingIndex</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].TheUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Booking)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TheUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                @*      @if (Model.TheUser.Any(u => u.IsAdmin))
            {
            <td>
            <a asp-page="/Bookings/DeleteBooking" asp-route-id="@item.BookingId">Ta bort</a> |
            </td>
            } *@
            </tr>
        }
    </tbody>
</table>
