@page
@model FribergsCarRental.Pages.Bookings.CustomersBookingIndexModel

@{
    ViewData["Title"] = "CustomersBookingIndex";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].TheUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].EndDate)
            </th>
            <th>
                Boknings-ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Booking)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TheUser.FirstName)
                    @Html.DisplayFor(modelItem => item.TheUser.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.Brand)
                    @Html.DisplayFor(modelItem => item.Car.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingId)
                </td>
               <td>
                    @if (item.StartDate > DateTime.Now)
                    {
                        <form method="post" asp-page-handler="Delete" asp-route-id="@item.BookingId">
                            <button type="submit" value="Delete" class="btn btn-danger">Ta bort</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-page="/Users/CustomerCarIndex">Skapa ny bokning</a>
</p>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
