@page
@model FribergsCarRental.Pages.Users.AdminPageModel

@{
    ViewData["Title"] = "AdminPage";
}
<br />
<h1>Välkommen Admin!</h1>


<br />
 

<h2>Bokningar</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].TheUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bookings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.Brand)
                    @Html.DisplayFor(modelItem => item.Car.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TheUser.FirstName)
                    @Html.DisplayFor(modelItem => item.TheUser.LastName)
                </td>
                <td>
            <a asp-page="/Bookings/BookingIndex" asp-page-handler="OnGetDelete" asp-route-id="@item.BookingId">Ta bort</a>
            </td>
            </tr>
        }
    </tbody>
</table>

<br />





<h2>Kunder</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TheUsers[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheUsers[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheUsers[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheUsers[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheUsers[0].IsAdmin)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>      

        @foreach (var item in Model.TheUsers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>
                <td>
                    <a asp-page="/Users/EditUser" asp-route-id="@item.TheUserId">Ändra</a> |
                    <a asp-page="/Users/Details" asp-route-id="@item.TheUserId">Details</a> |
                    <a asp-page="/Users/DeleteUser" asp-route-id="@item.TheUserId">Ta bort</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-page="/Users/UserIndex">Lägg till kund</a>
</p>



<br />



<h2>Bilar</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].PictureURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cars)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PictureURL)
                </td>
                <td>
                    <a asp-page="/Cars/EditCar" asp-route-id="@item.CarId">Ändra</a> |
                    <a asp-page="/Cars/Details" asp-route-id="@item.CarId">Details</a> |
                    <a asp-page="/Cars/DeleteCar" asp-route-id="@item.CarId">Radera</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-page="/Cars/CreateCar">Lägg till bil</a>
</p>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

