@page
@using FribergsCarRental.Data.Models;
@model FribergsCarRental.Pages.Users.CustomerPageModel

@{
    ViewData["Title"] = "CustomerPage";
}

<h1>Welcome!</h1>
 <table class="table">
        <thead>
            <tr>          
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Model)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car[0].Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car[0].Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car[0].PictureURL)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Car)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PictureURL)
                    </td>
                    <td>
                        <a asp-page="/Bookings/BookingIndex" asp-route-id="@item.CarId">Boka</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

@* <div>
<a asp-page="/Cars/CarIndex" asp-page-handler="OnGetCars">Bilar</a> |
 <a asp-page="/Bookings/BookingIndex" asp-page-handler="OnGetBookings">Bokningar</a> | 
 <a asp-page="/Bookings/BookingIndex">Bokningar</a> 
</div> *@