@page
@model FribergsCarRental.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TheUser.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TheUser.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TheUser.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TheUser.LastName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TheUser.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TheUser.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TheUser.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TheUser.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TheUser.IsAdmin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TheUser.IsAdmin)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="EditUser" asp-route-id="@Model.TheUser?.TheUserId">Edit</a> |
    <a asp-page="UserIndex">Back to List</a>
</div>
