@page
@model FribergsCarRental.Pages.Users.IndexModel

@{
    ViewData["Title"] = "UserIndex";
}

<h1>Kunder</h1>

<p>
    <a asp-page="CreateUser">Lägg till kund</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TheUser[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheUser[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheUser[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheUser[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheUser[0].IsAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TheUser)
        {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                <a asp-page="EditUser" asp-route-id="@item.TheUserId">Ändra</a> |
                <a asp-page="Details" asp-route-id="@item.TheUserId">Details</a> |
                <a asp-page="DeleteUser" asp-route-id="@item.TheUserId">Ta bort</a>
            </td>
        </tr>
}       
    </tbody>

</table>
<a asp-page="AdminPage">Tillbaka</a>