@page
@model FribergsCarRental.Pages.Users.IndexModel

@{
    ViewData["Title"] = "UserIndex";
}

<h1>Kunder</h1>


<h1>Skapa ny användare</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input asp-for="TheUser.IsAdmin" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TheUser.FirstName" class="control-label"></label>
                <input asp-for="TheUser.FirstName" class="form-control" />
                <span asp-validation-for="TheUser.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheUser.LastName" class="control-label"></label>
                <input asp-for="TheUser.LastName" class="form-control" />
                <span asp-validation-for="TheUser.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheUser.Email" class="control-label"></label>
                <input asp-for="TheUser.Email" class="form-control" />
                <span asp-validation-for="TheUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheUser.Password" class="control-label"></label>
                <input asp-for="TheUser.Password" class="form-control" />
                <span asp-validation-for="TheUser.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Skapa" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
@* 
<p>
    <a asp-page="CreateUser">Lägg till kund</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TheUser[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheUser[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheUser[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheUser[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheUser[0].IsAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TheUser)
        {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                <a asp-page="EditUser" asp-route-id="@item.TheUserId">Ändra</a> |
                <a asp-page="Details" asp-route-id="@item.TheUserId">Details</a> |
                <a asp-page="DeleteUser" asp-route-id="@item.TheUserId">Ta bort</a>
            </td>
        </tr>
}       
    </tbody>

</table>
<a asp-page="AdminPage">Tillbaka</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
 *@