@page
@model FribergsCarRental.Pages.Cars.CarIndexModel

@{
    ViewData["Title"] = "CarIndex";
}<br /><br />
<h3>Fribergs bilar - Logga in eller skapa konto för att hyra</h3>
<br />


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].PictureURL)
            </th>
         
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Car)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PictureURL)
                </td>

                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-page="EditCar" asp-route-id="@item.CarId">Ändra</a> |                      
                        <a asp-page="DeleteCar" asp-route-id="@item.CarId">Ta bort</a> |
                    </td>
                }
              
            </tr>
        }     
    </tbody>
</table>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
